@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");

:root {
  --mainBackground: #63c274;
  --font: #fbfefb;
  --secondaryBackground: #f27a54;
  --terciaryBackground: #ab9e72;
  --optionalBackground: #d44d82;
}

body {
  font-family: "Space Grotesk";
  background-color: var(--mainBackground);
  color: var(--font);
  font-weight: 400;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}


@media only screen and (min-width: 768px) {
}
